.cell {
  display: flex;
  justify-content: center;
  border-top: 1px solid gray;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
}
.cell:last-child {
  border-bottom: 1px solid gray;
}

.main-div {
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
  width: 30%;
}